@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Syne&display=swap');

.books-div h3 {
  padding: 10px 20px;
  margin-top: 60px;
}

.book-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book-container a{
  color: #000000;
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.book-img {
  max-width: 200px;
  padding: 2px;
  border-radius: 5px;
}

.card-text {
    text-align: left;
    padding-top: 10px;
}

.card-title {
  font-weight: 900;
}

.card-author {
  color: #353535;
  font-style: italic;
}

.card-text span{
  text-decoration: none;
}