@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

.sidebar-container{
   font-family: "Carrois Gothic SC", sans-serif;
   text-align: left;
   width: 20%;
   position: fixed;
   top: 40px;
   left: 0;
   bottom: 0;
   background: #ffffff;
   padding-top: 40px;
   border-right: 1px solid #dddddd;
   z-index: -1;
}

.sidebar-container hr{
  border: 1px solid #dddddd;
}

.sidebar-container h1{
   display: block;
   padding: 10px 20px;
   color: #fff;
   text-decoration: none;
   font-family: "Carrois Gothic SC", sans-serif;
   letter-spacing: 2px;
   font-weight: 400;
   margin: 0;
   font-size: 25px;
   text-transform: uppercase;
}

.sidebar-container a{
   font-family: "Carrois Gothic SC", sans-serif;
   display: block;
   padding: 10px 20px;
   color: #424242;
   text-decoration: none;
   letter-spacing: 2px;
}

.sidebar-container a:hover{
   color: rgb(143, 143, 143);
   margin-left: 20px;
   transition: 0.3s;
}

.tags-container li{
  list-style-type: none;
}